.app {
  margin: 0 auto;

  text-align: center;
}

.app__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-family: Bungee Shade, sans-serif;
  font-size: 15px;
  margin: 10 0 20px;
}
  @media (min-width: 768px) {
    .brand {
      font-size: 20px;
    }
  }
  @media (min-width: 992px) {
    .brand {
      font-size: 25px;
    }
  }
  @media (min-width: 1200px) {
    .brand {
      font-size: 30px;
    }
  }

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__main h1 {
  margin-right: 20px;
}

.filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  justify-content: flex-start;
}

.stats-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  justify-content: flex-start;
}

.stats-indicator {
  color: #004262;
  font-weight: 600;
  margin-right: 10px;
}

.stats-indicator span{
  color: red;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.react-dropdown-tree-select .dropdown .dropdown-content {
  z-index: 2;
}

.infinite-scroll-component  {
  text-align: left;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.positionDropdown .dropdown-trigger > span:after {
  font-size: 12px;
  color: #555;
}

.positionDropdown .toggle {
  font: normal normal normal 18px/1 "Material Icons";
  color: #555;
  white-space: pre;
  margin-right: 4px;
}

.positionDropdown .toggle.collapsed::after {
  cursor: pointer;
  content: "\E5CF";
  vertical-align: middle;
}

.positionDropdown .toggle.expanded::after {
  cursor: pointer;
  content: "\E5CE";
  vertical-align: middle;
}
